*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.z1{
   text-decoration: none;
   color: black;
   border: none;
   
}
.p1{
    font-family: "Lilita One", serif;
    font-weight: 400;
}




.c1{
    height: 7%;
    width: 20%;
    border-radius: 20px;
    border: none;
    box-shadow: 
    10px 10px 20px rgba(0, 0, 0, 0.3),
    -20px -10px 15px rgba(0, 0, 0, 0.1), 
    15px 11px 30px rgba(0, 0, 0, 0.2); 
    margin-top: 10%;

}
body{
    background-color:#d2a41a; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("");
    /* display: inline; */
    flex-direction: column;
}

.w1{
    font-family: "Lilita One", serif;
  font-weight: 400;
  border-radius: 15px;
    color: azure;
    font-size: 600%;
    box-shadow: 
    10px 10px 20px rgba(0, 0, 0, 0.3),
    -20px -10px 15px rgba(0, 0, 0, 0.1), 
    15px 11px 30px rgba(0, 0, 0, 0.2); 
    
  
    
    
  }